+e.content
  +e.answer
    if (task.solution instanceof Array)
      each step, i in task.solution
        +e.step._open
          +e('button').step-show(type="button", onclick="showStep(this)") !{step.title}
          +e.answer-content
            +e('h4').step-title !{step.title}
            != step.content

            if (i == task.solution.length - 1 && solutionPlunkInfo)
              a(href=solutionPlunkInfo.url data-plunk-id=solutionPlunkInfo.plunkId)= solutionPlunkInfo.title

    else
      +e.answer-content
        != task.solution

        if solutionPlunkInfo
          a(href=solutionPlunkInfo.url data-plunk-id=solutionPlunkInfo.plunkId)= solutionPlunkInfo.title

    +b('button').close-button.__answer-close(type="button", title="закрыть")
  != task.content
  if sourcePlunkInfo
    a(href=sourcePlunkInfo.url data-plunk-id=sourcePlunkInfo.plunkId)= sourcePlunkInfo.title