extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var content_class = '_center'
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var title = "Материалы для группы"

block content

  - var data = [];
  - data.push({ url: '/123', name: 'Вводный курс JS', size: '345 Mb', date: moment(new Date()).locale('ru').format('DD MMM YYYY') });
  - data.push({ url: '/123', name: 'Материалы, 2013 08 22 2130', size: '1.3 Gb', date: moment(new Date()).locale('ru').format('DD MMM YYYY') });
  - data.push({ url: '/123', name: 'Материалы, 2013 09 22 2130', size: '2 Gb', date: moment(new Date()).locale('ru').format('DD MMM YYYY') });
  - data.push({ url: '/123', name: 'Материалы, 2013 09 26 2130', size: '2 Gb', date: moment(new Date()).locale('ru').format('DD MMM YYYY') });

  h2= group.title

  // TODO!
  +b.courses-materials

    +e('p').video-key
      | Серийный номер для видео:
      = ' '
      +e('span')= videoKey

    +e('table').table
      +e('tr').line
        +e('th').num #
        +e('th').name Название
        +e('th').size Размер
        +e('th').added Добавлено
      for material in data
        +e('tr').line
          +e('td').num
          +e('td').name
            +e('a').link(href=material.url) !{ material.name }
          +e('td').size !{ material.size }
          +e('td').added !{ material.date }
