extends /layouts/main

block append variables

  - var layout_header_class = "main__header_center"
  - var content_class = '_center'
  - var sitetoolbar = true
  - var siteToolbarCurrentSection = "courses";

block append head
  script(defer src=pack("courses", "js"))


block append ga
  script ga('require', 'ec');

  if orderInfo.status == 'fail'
    script window.ga('ec:setAction', 'refund', { id: #{order.number} });

  script window.ga('send', 'event', 'payment', 'return-#{orderInfo.status}', 'course');

block content
  - var mailto = "mailto:orders@javascript.ru?subject=" + encodeURIComponent('Заказ ' + order.number);

  script var orderNumber = #{order.number};

  script window.metrika.reachGoal('ORDER', { product: 'ebook', status: '#{orderInfo.status}', number: '#{orderInfo.number}' });


  if orderInfo.status == 'fail'
    +b.notification._error._message.__error
      +e.content
        p Оплата не прошла, попробуйте ещё раз.
          if orderInfo.transaction && orderInfo.transaction.statusMessage
            div
              +e('span').cause= orderInfo.transaction.statusMessage
        p По вопросам, касающимся оплаты, пишите на <a href="#{mailto}">orders@javascript.ru</a>.

  +b(data-elem="signup").courses-register._step_1

    include blocks/receipts
    include blocks/payment
    include blocks/result
