extends /layouts/main

block append variables

  - var layout_header_class = "main__header_center"
  - var content_class = '_center'
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var siteToolbarCurrentSection = "courses"

block append head
  script(defer src=pack("coursesSignup", "js"))

block content

  script var groupInfo = !{JSON.stringify(groupInfo)};
  script var rateUsdRub = #{rateUsdRub};
  script var orderNumber = #{order ? order.number : 'null'};

  - var step = !order ? '1' : (order.status != 'success' && order.status != 'pending' || changePaymentRequested) ? '3' : '4';
  +b(data-elem="signup" class=['courses-register', '_step_' + step])

    if orderInfo.status == 'fail'
      +b.notification._error._message.__error
        +e.content
          p Оплата не прошла, попробуйте ещё раз.
            if orderInfo.transaction && orderInfo.transaction.statusMessage
              div
                +e('span').cause= orderInfo.transaction.statusMessage
          p По вопросам, касающимся оплаты, пишите на <a href="#{mailto}">orders@javascript.ru</a>.

    include blocks/receipts

    if !order
      include blocks/participants
      include blocks/contacts

    include blocks/payment

    include blocks/result

    include blocks/grayedList

