//- body + navigation(sitetoolbar + prev + next + sidebar) + content(article.main)
extends ./html

block body
  if sitetoolbar
    include ../blocks/sitetoolbar
  .page(class = (sidebar ? 'page_sidebar_on ' : '') + (layout_page_class ? layout_page_class : ''))
    script.
      if (localStorage.noSidebar) {
        document.querySelector('.page').classList.remove('page_sidebar_on');
      }
    //- основное содержимое статьи идёт до сайдбара (пользователь увидит его первым)
    .page__inner
      main.main(class=layout_main_class ? ' ' + layout_main_class : '')
        block main
      if prev || next
        .page__nav-wrap
          if prev
            a.page__nav.page__nav_prev(href=prev.url, data-tooltip=prev.title)
              span.page__nav-text
                span.page__nav-text-shortcut
              //- for mobile / narrow screens (on bottom)
              span.page__nav-text-alternate= t('Previous lesson')
          if next
            a.page__nav.page__nav_next(href=next.url, data-tooltip=next.title)
              span.page__nav-text
                span.page__nav-text-shortcut
              span.page__nav-text-alternate= t('Next lesson')
    if sidebar
      +b(class="sidebar page__sidebar #{sidebar.class}")
        +e('button').toggle(data-sidebar-toggle data-add-class-on-hover)
        +e('a').show-map(href="/tutorial/map", data-action="tutorial-map", data-add-class-on-hover)
        +e.inner
          +e.content
            block sidebar
