include /bem

+b.code-tabs._result_on
  +e.tools
    +e.scroll-wrap
      +e('button').scroll-button._left(title="&larr;" data-code-tabs-left)
    +e.switches-wrap
      +e.switches(data-code-tabs-switches)
        +e.switches-items
          +e.switch._current Результат
          each tab in tabs
            +e.switch #{tab.title}
    +e.scroll-wrap
      +e('button').scroll-button._right(title="&rarr;" data-code-tabs-right)
    +e.buttons
      //if zip
        // not implemented yet (think again when node.js)
        +e('a').button._download(target="_blank", href=zip.url)
      if edit
        +e('a').button._open(target="_blank", href=edit.href)
  +e.content(data-code-tabs-content style=('height:' + height + 'px'))
    +e.section._current
      //- assigning an attribute to false removes the attribute
      +e('iframe').result(src=src)

    each tab in tabs
      +e.section
        pre(class=tab.class)
          code
            = tab.content
