+b.courses-recruitment
  +e('a').anchor#signup
  +e('ul').list

    each group, index in groups
      +e('li').course
        +e.info
          +e('h4').title #{formatGroupDate(group.dateStart)} — #{formatGroupDate(group.dateEnd)}
          +e('p').text!= group.timeDesc
          +e.teacher
            | Ведущий:
            = ' '
            a(href=group.teacher.getProfileUrl())= group.teacher.displayName

          if group.participantsLimit < 15
            +e('p').participants-limit Осталось #{group.participantsLimit} #{pluralize(group.participantsLimit, 'место', 'места', 'мест')}

        +e.apply
          +b.price
            +e('span') #{group.price} RUB
            +e('span').secondary &nbsp;≈&nbsp;#{Math.round(group.price / rateUsdRub)}$
          +e.submit
            +b('a')(data-group-signup-link href='/courses/groups/' + group.slug + '/signup' type="button").button._action
              +e('span').text Записаться
