extends /layouts/main


mixin children_list(children, num)
  ul
    each child in children
      li
        a(href="#toc-#{num++}") #{child.title}
        if child.children && child.children.length > 0
          mixin children_list(child.children, num)
          - num += child.children.length

block append variables
  - var layout_page_class = "page_ebook"

block content
  script window.isEbook = true;

  +children_list(topArticleInTree.children, 1)

  .page-break

  - var num = 0;

  each child in children

    != child.content

    if child.tasks.length
      +b.tasks
        +e('h' + (2 + child.level)).title Задачи
        each task in child.tasks
          +b.task.__task(id=(task.url + '/content'))
            +e.header
              +e.title-wrap
                // task must not be h3, because h3 participates in ToC (AKA outline)
                +e.title= task.title
              +e.header-note
                +e('span').importance(title="Насколько эта задача важна для освоения материала, от 1 до 5") важность: #{task.importance}

              +e.content
                != task.content

              a(href=('#' + task.url + '/solution')) К решению

  if children[0].hasTasks
    h2 Решения

  each child in children
    if child.hasTasks && !child.isFolder
      h3= child.title

      +b.tasks
        each task in child.tasks
          +b.task.__task(id=(task.url + '/solution'))
            +e.header
              +e.title-wrap
                +e.title= task.title

              +e.content
                if (task.solution instanceof Array)
                  each step, i in task.solution
                    +e.step._open
                      +e('button').step-show(type="button", onclick="showStep(this)") !{step.title}
                      +e.answer-content
                        +e.step-title !{step.title}
                        != step.content
                else
                  +e.answer-content
                    != task.solution

              a(href=('#' + task.url + '/content')) К условию

  script(src=script("tutorial"))
  script tutorial.init();



