extends /layouts/main

block append variables
  - var layout_main_class = "main_width-limit-wide"
  - var layout_header_class = "main__header_center"

block content
  +b.intro
    | Перед вами учебник по JavaScript, начиная с основ, включающий в себя много
    | тонкостей и фишек JavaScript/DOM.
  +b.course-search
    +e('form').form(action="/search/")
      +e.input-wrap._text
        +b.text-input.__query
          +e('input').control(type="text" name="query" placeholder="Искать в учебнике" required)
      +e.input-wrap._submit
        +b("button").button._action(type="submit" name="type" value="articles")
          +e("span").text Найти
  +b.course-info
    +e.header
      +e('h2').header-title Основной курс
      +e('a').show-map(href="/tutorial/map", data-action="tutorial-map")
        +e('span').show-map-text Карта учебника
    +e.body.columns.columns_2
      +e.col.columns__col
        +e.content
          +e.title-note Часть первая
          +e('h3').title= js.title
          != js.content
          +b('ul').special-links-list
            - each folder in js.children
              +e('li').item
                +e('a').link(href=folder.url)= folder.title

      +e.col.columns__col
        +e.content
          +e.title-note Часть вторая
          +e('h3').title= ui.title
          != ui.content
          +b('ul').special-links-list
            - each folder in ui.children
              +e('li').item
                +e('a').link(href=folder.url)= folder.title

  +b.bricks
    +e('h2').title= more.title
    +e.container
      - each folder in more.children
        +e.brick
          +e('h3').brick-title
            +e('a').brick-title-link(href=folder.url)= folder.title
          +e.brick-content!= folder.content
          +e('ul')
            each child in folder.children
              li= child.title

  script(src=script("tutorial"))
  script tutorial.init();
