- var courses = [];
- var time = '2014-01-01T19:45'
- var date = 'Начало ' + moment(time).locale('ru').format('D MMM YYYY');

- courses.push({ name: 'Посещение online курсов «Javascript, DOM, интерейсы»', start: date, schedule: 'Занятия каждый Пн/Чт<br>19:30 - 21:00 GMT+3 (Мск).', info_links: [{ url: '/123', name: 'Описание курсов' }], status: 'need-verify' });
- courses.push({ name: 'Посещение online курсов «Javascript, DOM, интерейсы»', start: date, schedule: 'Занятия каждый Пн/Чт<br>19:30 - 21:00 GMT+3 (Мск).', info_links: [{ url: '/123', name: 'Описание курсов' }, { url: '/123', name: 'Инструкции по настройке окружения' }, { url: '/123', name: 'Материалы для обучения' }], status: 'verified' });
- courses.push({ name: 'Посещение online курсов «Javascript, DOM, интерейсы»', start: date, schedule: 'Занятия каждый Пн/Чт<br>19:30 - 21:00 GMT+3 (Мск).', info_links: [{ url: '/123', name: 'Описание курсов' }, { url: '/123', name: 'Инструкции по настройке окружения' }, { url: '/123', name: 'Материалы для обучения' }], status: 'started' });
- courses.push({ name: 'Посещение online курсов «Javascript, DOM, интерейсы»', start: date, schedule: 'Занятия каждый Пн/Чт<br>19:30 - 21:00 GMT+3 (Мск).', info_links: [{ url: '/123', name: 'Описание курсов' }, { url: '/123', name: 'Инструкции по настройке окружения' }, { url: '/123', name: 'Материалы для обучения' }], status: 'ended' });

+b.courses-table
    +e('table').table

        for course in courses
            +e('tr').line

                +e('th').main
                    +e('h3').title !{ course.name }
                    +e('ul').info-links
                        for link in course.info_links
                            +e('li').info-links-item
                                +e('a').info-link(href=link.url) !{ link.name }

                +e('td').info
                    +e('strong').start !{ course.start }
                    +e.schedule !{ course.schedule }

                +e('td').verify
                    if course.status === 'verified'
                        +e('span').status._verified Участие подтверждено

                    else if course.status === 'need-verify'
                        +b('a').button._action(href="/123")
                            +e('span').text Подтвердить участие

                    else if course.status === 'started'
                        +e('span').status._started Занятия начались

                    else if course.status === 'ended'
                        +e('span').status._ended Курсы завершены
                        br
                        +e('a').feedback(href="/123") Оставить отзыв


