- var invoces = [];
- var datestr = '2014-01-01T19:45';
- var date = moment('2014-01-01T19:45').locale('ru').format('D MMMM YYYY в h:mm');
- var participants = [{ email: 'abc@abc.com', approved: true }, { email: 'abc@abc.com' }, {}]

- invoces.push({number: '3451', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '5 мест', free: '2', busy: '3', confirmed: '2' }, payment: { amount: '2400', currency: 'RUR', status: 'done', type: 'Paypal' }, participants: participants });
- invoces.push({number: '3453', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '4 места', free: '3', busy: '1', confirmed: '1' }, payment: { amount: '2200', currency: 'USD', status: 'await', type: 'Банковская квитанция' }, participants: participants });
- invoces.push({number: '3456', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '5 мест', free: '2', busy: '3', confirmed: '2' }, payment: { amount: '2400', currency: 'UAH', status: 'done', type: 'Paypal' }, participants: participants });
- invoces.push({number: '3458', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '1 местo' }, payment: { amount: '600', currency: 'RUR', status: 'await', type: 'Банковская квитанция' }, participants: [{}] });

+b.invoice-table
  +e('table').table

    for invoce in invoces
      +e('tr').data
        +e('th').main
          +e('span').number Заказ&nbsp;№&nbsp;!{ invoce.number }
          +e('time').time(datetime=datestr)= date
          +e('h3').title !{ invoce.name }

          - var slots = invoce.slots;

          if slots && slots.total
            - slots.total = slots.total.split(' ');

            +e.slots
              +e('strong').slots-total !{ slots.total[0] }
              &nbsp;!{ slots.total[1] }

              if slots.free
                +e('strong').slots-free !{ slots.free }
                &nbsp;свободно

              if slots.busy
                +e('strong').slots-free !{ slots.busy }
                &nbsp;занято


        +e('td').info
          +e('a').info-link(href='/123') Описание курсов

        +e('td').price
          +b.price !{ invoce.payment.amount } !{ invoce.payment.currency }
          +e(class=['payment-status', '_invoce.payment.status']).status
          if invoce.payment.status === 'done'
            Оплачено
          if invoce.payment.status === 'await'
            Ожидается оплата
          +e.payment-type (!{ invoce.payment.type })

      +e('tr').settings
        +e('td').settings-cell(colspan=invoces.length)
          +e.settings-dropdown
            +e.settings-close
            +e.settings-cell._left
              form
                +e('h4').settings-title Участники

                +e('ul').settings-participants

                  for participant in participants
                    +e('li').settings-participant
                      +e('label').participant-label
                        +e('span').participant-n Участник
                        +b('span')(class=['text-input', '__input', participant.approved ? '_'+participant.approved : ''])
                          +e('input').control(placeholder="email", name="email", type="email", value= participant.email ? participant.email : '')

                +e.settings-line
                  +b('button').button._common(type="submit")
                    +e('span').text Сохранить участников


            +e.settings-cell._right
              +e('h4').settings-title Контактная информация
              form

                +e.settings-line
                  +e("label").label(for="name") Имя и фамилия:
                  +b("span").text-input
                    +e("input").control(type="text", required, name="name", id="name")

                +e.settings-line
                  label(for="contact-phone") Телефон:
                  +b.full-phone
                    +e.code-wrap
                      +e('select').codes
                        option(value='+7') RU (+7)
                        option(value='+38') UA (+38)
                    +e.tel-wrap
                      +b.text-input._small.__tel
                        +e('input').control#contact-phone(placeholder="XXX XXX-XX-XX", required)

                +e.settings-line
                  +b('button').button._common(type="submit")
                    +e('span').text Сохранить контакты



