- var invoces = [];
- var datestr = '2014-01-01T19:45';
- var date = moment('2014-01-01T19:45').locale('ru').format('D MMMM YYYY в h:mm');
- var participants = [{ email: 'abc@abc.com', approved: true }, { email: 'abc@abc.com' }, {}]

- invoces.push({number: '3451', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '5 мест', free: '2', busy: '3', confirmed: '2' }, payment: { amount: '2400', currency: 'RUR', status: 'done', type: 'Paypal' }, participants: participants });
- invoces.push({number: '3453', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '4 места', free: '3', busy: '1', confirmed: '1' }, payment: { amount: '2200', currency: 'USD', status: 'await', type: 'Банковская квитанция' }, participants: participants });
- invoces.push({number: '3456', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '5 мест', free: '2', busy: '3', confirmed: '2' }, payment: { amount: '2400', currency: 'UAH', status: 'done', type: 'Paypal' }, participants: participants });
- invoces.push({number: '3458', date: date, name: 'Посещение online курсов «Javascript, DOM, интерейсы»', slots: { total: '1 местo' }, payment: { amount: '600', currency: 'RUR', status: 'await', type: 'Банковская квитанция' }, participants: [{}] });

+b.invoice-table

  +e('table').table

    for invoce, indexInvoice in invoces
      +e('tr')(class=['data', indexInvoice == 1 ? '_show_settings' : ''])
        +e('th').main
          +e('span').number Заказ&nbsp;№&nbsp;!{ invoce.number }
          +e('time').time(datetime=datestr)= date
          +e('h3').title !{ invoce.name }

          - var slots = invoce.slots;

          if slots && slots.total
            - slots.total = slots.total.split(' ');

            +e.slots
              +e('strong').slots-total !{ slots.total[0] }
                &nbsp;!{ slots.total[1] }

              if slots.free
                +e('strong').slots-free !{ slots.free }
                &nbsp;свободно

              if slots.busy
                +e('strong').slots-busy !{ slots.busy }
                &nbsp;занято

              if slots.confirmed
                +e('span').slots-confirmed &nbsp;(!{ slots.confirmed } подтверждено)
              else
                +e('span').slots-confirmed._note &nbsp;(подтверждение участников происходит после оплаты)

        +e('td').info
          +e('a').info-link(href='/123') Описание курсов

        +e('td').price
          +b.price !{ invoce.payment.amount } !{ invoce.payment.currency }
          +e(class=['payment-status', '_' + invoce.payment.status])
            if invoce.payment.status === 'done'
              Оплачено
            if invoce.payment.status === 'await'
              Ожидается оплата
          +e.payment-type (!{ invoce.payment.type })

      +e('tr').settings
        +e('td').settings-cell(colspan=3)
          +e.settings-dropdown
            +e('button').settings-dropdown-close.close-button
            +e.settings-dropdown-cell._left
              form(action="/123")
                +e('h4').settings-title Участники

                +e('ul').settings-participants

                  for participant, index in participants
                    - var number = index + 1
                     +e('li').settings-participant
                      +e('label').participant-label(for='participant' + number + '' + indexInvoice) Участник !{number}:
                      +b('span')(class=['text-input', index == 1 ? '_invalid' : '', '__input', participant.approved ? '_approved_yes' : '_approved_no'])
                        +e('input').control(placeholder="email", name="email", type="email", value= participant.email ? participant.email : '', id = 'participant' + number + '' + indexInvoice)
                        +e('span').status
                        if index == 1
                          +e('span').err Не верный email

                +e.settings-line_submit
                  +b('button').button._common(type="submit")
                    +e('span').text Сохранить участников


            +e.settings-dropdown-cell._right
              +e('h4').settings-title Контактная информация
              +e('form').contact-form(action="/123")
                +e.settings-line
                  +e("label").contact-form-label(for="contact-name" + indexInvoice) Имя и фамилия:
                  +b("span").text-input
                    +e("input").control(type="text", required, name="contact-name", id="contact-name" + indexInvoice)

                +e.settings-line
                  +e('label').contact-form-label(for="contact-phone" + indexInvoice) Телефон:
                  +b.full-phone
                    +e.tel-wrap
                      +b.text-input._invalid._small.__tel
                        +e('input').control(placeholder="+X XXX XXX-XX-XX", required, id="contact-phone" + indexInvoice)
                        +e('span').err Не верный телефон

                +e.settings-line._submit
                  +b('button').button._common(type="submit")
                    +e('span').text Сохранить контакты

            +e.settings-line._foot
              +e('h4').settings-title Оплата
              +e('p').note Вы выбрали вариант оплаты «Оплатить позже», подтвердить участие мы сможем только после того, как получим оплату.
              +b('button').button._action
                +e('span').text Перейти к оплате

            +e.settings-line._foot
              +e('h4').settings-title Оплата
              +e('p').note Вы выбрали вариант оплаты «Оплатить позже», подтвердить участие мы сможем только после того, как получим оплату. Вы можете <a href="/123">повторно скачать квитанцию</a>.
              +b('button').button._common
                +e('span').text Изменить метод оплаты



