+b.quiz-results-table
  +e("table").results

    for result in profileTests
      +e("tr").result

        +e("th").test-info
          +e("time").time !{ result.date }
          +e("h1").name !{ result.name }

          // Отложено до следующей версии
          // +e("p").try Попытка №!{ result.try }

        +e("td").precents
          +e("dl").precents-info
            +e("dt").title
              +e("h1").title-head Результат:
            +e("dd").precents-value !{ result.result }

        +e("td").level
          +e("h1").title Уровень:
          +e("p").level-info !{ result.level }

        // Отложено до следующей версии
        //- +e("td").weak-list
        //-   +e("h1").title Слабые места:
        //-   +e("p").weak-list-info !{ result.weakList }

        +e("td").time-spent
          +e("h1").title Время прохождения:
          +e("p").time-spent-info !{ result.time }