block append variables

  -var quizResult = {};
  -quizResult.percents = '62'
  -quizResult.position = '25'
  -quizResult.level = 'medium'
  -quizResult.levelText = 'средний'
  -quizResult.weakList = ['события', 'кроссбраузерность', 'замыкания']

  -var rotate = parseInt((quizResult.percents * 1.8), 10) + 'deg'


+b.quiz-result
  +e.layout
    +e.left
      +b.quiz-percents
        +e("dl").result
          +e("dt").text Ваш результат:
          +e("dd").percents !{ quizResult.percents }%
        +e("dl").position
          +e("dt").text Вы прошли текст лушче, чем
          +e("dd").percents !{ quizResult.position }%
          +e("dd").text респондентов

    style.
      .quiz-results-indicator__indicator:after
      {
        -webkit-transform: rotate(!{ rotate });
        -moz-transform: rotate(!{ rotate });
        -ms-transform: rotate(!{ rotate });
        -o-transform: rotate(!{ rotate });
        transform: rotate(!{ rotate });
      }

    +e.center
      +b.quiz-results-indicator
        +e.indicator
        +e.text Ваш предположительный уровень&nbsp;—
        +e(class='quiz-results-indicator__level quiz-results-indicator__level_' + quizResult.level) !{ quizResult.levelText }

    +e.right
      +b.wak-list
        +e("h1").title Ваши слабые места:
        +e("ul").list
          for item in quizResult.weakList
            +e("li").item !{ item }
