extends /layouts/main

block append variables
  - var layout_main_class = "main_width-limit"

block content

  +b("form").search-form(action="/search/")
    +e.content
      +e.line
        +e.query-wrap
          +b.text-input.__query
            +e('input').control(type="text", name="query" value=searchQuery)
        +e.send-wrap
          +b('button').submit-button.__send(type="submit" name="type" value=searchType) Найти

    if searchQuery
      +e.footer
        +e.types
          each type, name in searchTypes
            +e('button').type(type="submit" disabled=(name == searchType ? true : null) name="type" value=name)
              = type.title
              = ' (' + (resultsCountPerType[name] || 0)  + ')'


  if results.length
    +b.search-results
      each result in results
        +e.result
          +e.title
            +e('a').title-link(href=result.url)!= result.title
          +e.extract!= result.search
          +e('ul').path
            each crumb in result.breadcrumb
              +e('li').path-step
                +e('a').path-link(href=crumb.url)!= crumb.title


      if results.length < resultsCountPerType[searchType]
         +e.count-note Показываются первые #{results.length} результатов.
  else if searchQuery
    +b.search-results
      | Извините, мы ничего не нашли
      = ' '
      if searchType=="articles"
        | в статьях учебника
      if searchType=="tasks"
        | в задачах
      | .

  +b("form").search-form._fixed._hidden(action="/search/")
    +e.content
      +e.line
        +e.query-wrap
          +b.text-input.__query
            +e('input').control(type="text" name="query" value=searchQuery)
        +e.send-wrap
          +b('button').submit-button.__send(type="submit" name="type" value=searchType) Найти

  script(src=pack("search", "js"))
  script search.init();
