include /bem

+b.profile

  +e.title
    +e.title-content
      +e('h2').inline-title Управление аккаунтом

  +e.fields
    +e('profile-field')(field-name="displayName" field-title="Имя пользователя" field-value="me.displayName")
      input.text-input__control(type="text" name="input"
        focus-on="editing"
        required
        ng-minlength="2"
        ng-model="editingValue"
        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
      )

    +e('profile-field')(field-name="email" field-title="Email" field-value="me.email")
      input.text-input__control(type="email" name="input"
        focus-on="editing"
        required
        ng-model="editingValue"
        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
      )


  +e('profile-password')(has-password="me.hasPassword")

  +e.title
    +e.title-content
      +e('h2').inline-title Привязанные внешние аккаунты
      +e('p').note(ng-if="!me.providers.length") При привязке аккаунта можно будет заходить на сайт одним нажатием кнопки.

  +e.linked-account(ng-repeat="provider in me.providers")
    +e.account-content
      +e.linked-name
        +e('img').linked-upic(ng-src="{{provider.photo}}") {{provider.displayName}}
      +e.linked-provider {{provider.name | capitalize}}
      +e('button').linked-provider-remove(ng-click="removeProvider(provider.name)", title="Удалить привязку")

  +e('profile-auth-providers')

  +e.action-item
    +e.action-content
      +e('button')(type="button" ng-click="remove()").action._remove-account Удалить аккаунт
