include /bem


+b.invoice-table
  +e('table').table

    +e('tr').data(ng-repeat-start="order in orders" ng-class="{'invoice-table__data_show_settings': order.isEditing}")
      +e('th').main
        +e('span').number Заказ&nbsp;№&nbsp;{{ order.number }}
        +e('time').time(datetime="{{order.created}}") {{order.created | longDate}}
        +e('h3').title {{ order.title }}

        +e.slots
          +e('strong').slots-total {{ order.count }} {{ order.count | pluralize:"место":"места":"мест" }}

          +e('strong').slots-free(ng-if="order.countDetails.free")
            | {{ order.countDetails.free }} свободно

          +e('strong').slots-busy(ng-if="order.countDetails.busy")
            | {{ order.countDetails.busy }} занято

          +e('span').slots-confirmed(ng-if="order.countDetails.accepted")
            | &nbsp;({{ order.countDetails.accepted }} подтверждено)

          div
           a(href='#' ng-click="order.isEditing = !order.isEditing") редактировать заказ

      +e('td').info
        +e('a').info-link(ng-href='{{order.courseUrl}}') Описание курса

      +e('td').price
        +b.price {{ order.amount }} RUB
        +e(ng-class="['invoice-table__payment-status', 'invoce-table__' + order.orderInfo.status]")
          | {{ order.orderInfo.statusText }}
        +e.payment-type ({{ order.paymentMethod }})

    +e('tr').settings(ng-repeat-end)
      +e('td').settings-cell(colspan=3)
        +e.settings-dropdown
          +e('button').settings-dropdown-close.close-button(ng-click="order.isEditing = false")
          +e.settings-dropdown-cell._left
            +e('form')
              +e('h4').settings-title Участники

              +e('ul').settings-participants
                +e('li').settings-participant(ng-repeat="participant in order.participants")
                  +e('label').participant-label(for='participant{{order.number}}{{$index}}') Участник {{$index + 1}}:
                  +b('span').text-input.__input(ng-class="[participant.accepted ? 'text-input_approved_yes' : 'text-input_approved_no']")
                    +e('input').control(
                      placeholder="email",
                      name="email",
                      type="email",
                      ng-model="participant.email",
                      id='participant{{order.number}}{{$index}}',
                      ng-disabled="participant.accepted"
                    )

              +e.settings-line_submit
                +b('button').button._common(type="submit")
                  +e('span').text Сохранить участников

          +e.settings-dropdown-cell._right
            +e('h4').settings-title Контактная информация
            +e('form').contact-form(action="/123")
              +e.settings-line
                +e("label").contact-form-label(for="contact-name{{order.number}}") Имя и фамилия:
                +b("span").text-input
                  +e("input").control(
                    type="text",
                    ng-required,
                    name="contact-name",
                    id="contact-name{{order.number}}"
                    ng-model="order.contactName"
                  )

              +e.settings-line
                +e('label').contact-form-label(for="contact-phone{{order.number}}") Телефон:
                +b.full-phone
                  +e.tel-wrap
                    +b.text-input._small.__tel
                      +e('input').control(
                        placeholder="+X XXX XXX-XX-XX",
                        type="tel",
                        ng-required,
                        id="contact-phone{{order.number}}"
                        ng-model="order.contactPhone"
                      )

              +e.settings-line._submit
                +b('button').button._common(type="submit")
                  +e('span').text Сохранить контакты

          +e.settings-line._foot(ng-if="order.status != 'success'")
            +e('h4').settings-title(ng-bind-html="order.orderInfo.accent | trust_html")
            +e('p').note(ng-bind-html="order.orderInfo.description | trust_html")
            +b('button').button._common
              +e('span').text Изменить метод оплаты



