include /bem

+b('form').profile-field._editable._password(
  novalidate
  progress="loadingTracker.active()"
  progress-overlay
  name="form"
  ng-submit="submit()"
  ng-click="edit()"
  ng-class="{'profile-field_editing': editing}"
)

    +e('button').action._change-password(type="button" ng-hide="editing") Изменить пароль

    +e.change(ng-show="editing")
      +e.change-content

        //- not ng-if, because ng-if creates a scope, so ng-model won't work
        //- http://stackoverflow.com/questions/18342917/angularjs-ng-model-doesnt-work-inside-ng-if
        +e.labeled.__pass-change(ng-show="hasPassword")
          +e.labeled-label Старый пароль:
          +b.text-input._small.__labeled-text.__pass(ng-class="{'text-input_invalid':form.passwordOld.$invalid}")
            +e('input').control(type="password" name="passwordOld" ng-model="passwordOld")

        +e.labeled.__pass-change
          +e.labeled-label(ng-if="hasPassword") Новый пароль:
          +e.labeled-label(ng-if="!hasPassword") Укажите пароль
          +b.text-input._small.__labeled-text.__pass(ng-class="{'text-input_invalid':(form.password.$dirty && form.password.$invalid)}")
            +e('input').control(type="password" name="password" minlength="4" required ng-model="password")
            +e(ng-messages="form.password.$error").err
              +e(ng-message="required") Пароль не должен быть пустым.
              +e(ng-message="minlength") Пароль слишком короткий.

      +e.ok-cancel
        +b('button')(type="submit" progress="loadingTracker.active()" progress-spinner="{elemClass:'button_loading',size:'small'}").button._action.__save
          +e('span').text Сохранить
        +e('button').cancel(type="button" ng-click="cancel()") Отмена
