extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var title = "Управление подписками"
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"

block content

  style.
    .main ul > li:before {
      content: '';
    }
    .main ul {
      padding: 0;
    }

  form(method="POST", action="/newsletter/subscribe")

    //- subscription can come from accessKey or current user or may be no subscription
    if email
      p Управление подписками для #{email}.
    else
      p Ваш email:

      +b('span').text-input
        +e('input').control#forgot-email(name="email" type="email" placeholder="my@mail.com", required, pattern=validate.patterns.email)

    input(type="hidden", name="_csrf", value=csrf())
    if accessKey
      input(type="hidden", name="accessKey", value=accessKey)
    else if email
      input(type="hidden", name="email", value=email)

    input(type="hidden", name="replace", value=1)

    p Темы:

    ul
      each newsletter in newsletters
        li
          label
            input(type="checkbox", name="slug", value=newsletter.slug, checked=newsletter.subscribed || undefined)
            = ' '
            = newsletter.title
            = ' ('
            = newsletter.period
            | )

      li
        label
          input(type="checkbox", name="remove" value="1")
          = ' '
          | Удалить адрес из подписок


    +b('button').button._action.__save(type="submit")
      +e('span').text Сохранить
