include /bem

+b.profile

  +e.title
    +e.title-content
      +e('h2').inline-title Управление аккаунтом

  +e('profile-field')(field-name="displayName" field-title="Имя пользователя" field-value="me.displayName")
    input.text-input__control(type="text" name="input"
      focus-on="editing"
      required
      ng-minlength="2"
      ng-model="editingValue"
      ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
    )

  +e('profile-field')(field-name="email" field-title="Email" field-value="me.email")
    input.text-input__control(type="email" name="input"
      focus-on="editing"
      required
      ng-model="editingValue"
      ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
    )


  +e('profile-password')(has-password="me.hasPassword")

  +e.title(ng-if="me.providers.length")
    +e.title-content
      +e('h2').inline-title Привязанные внешние аккаунты
      // FIXME: item-note? и когда это показывается?
      +e('p').item-note При привязке аккаунта можно будет заходить на сайт одним нажатием кнопки.

  +e.item._linked-account(ng-repeat="provider in me.providers")
    +e.item-content
      +e('div').linked-name
        +e('img').linked-upic(src="{{provider.photo}}") {{provider.displayName}}
      +e.linked-provider {{provider.name}}

  +e.item
    +e.item-content
      +e.item-title Привязать:
      +e.socials
        include ../../../auth/templates/providers
  +e.item
    +e.item-content
      +e('button').action._remove-account Удалить аккаунт
