include /bem

+b('form').profile-field._editable(
  novalidate
  progress="loadingTracker.active()"
  progress-overlay
  name="form"
  ng-submit="submit()"
  ng-click="edit()"
  ng-class="{'profile-field_editing': editing}"
)
  +e.content
    +e.name {{title}}:
    +e.value(ng-bind="formatValue(value)")
  +e.change(ng-show="editing")
    +e.change-content
      +e.labeled
        +e('label').labeled-label {{title}}:
        +b.text-input._small.__control(ng-class="{'text-input_invalid':form.$invalid}")
          div(control-transclude)
            //- ng-transclude comes here
            //- directive content will be appended here with current scope, not parent scope!
          +e(ng-messages="form.input.$error").err
            +e(ng-message="required") Значение не должно быть пустым.
            +e(ng-message="minlength") Значение слишком короткое.
            +e(ng-message="email") Некорректный email.
            +e(ng-message="date") Дата неверна, формат: дд.мм.гггг.
            +e(ng-message="dateRange") Такой даты здесь не может быть.

    +e.ok-cancel
      +b('button')(type="submit" progress="loadingTracker.active()" progress-spinner="{elemClass:'submit-button_progress',size:'small'}").submit-button._small.__save
        +e('span').text Сохранить
      +e('button').cancel(type="button" ng-click="cancel()") Отмена
