title= (headTitle || title)

//- for mobile devices
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")
meta(name="apple-mobile-web-app-capable" content="yes")
script if (window.devicePixelRatio > 1) document.cookie = 'pixelRatio=' + window.devicePixelRatio + ';path=/;expires=Tue, 19 Jan 2038 03:14:07 GMT';
link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:700&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet')

//- favicon apple touch
link(rel="apple-touch-icon-precomposed" href="/img/favicon/apple-touch-icon-precomposed.png")
//- IE10 Metro
meta(name="msapplication-TileColor" content="#222A2C")
meta(name="msapplication-TileImage" content="/img/favicon/tileicon.png")
// favicon the rest
link(rel="icon" href="/img/favicon/favicon.png")


link(href=pack('head', 'css') rel='stylesheet')

if prev
  link(rel="prev" href=prev.url)

if next
  link(rel="next" href=next.url)

//- Counters only on production
if analyticsEnabled
  include ../blocks/ga
  //- let page specify more data to send w/ pageview
  block ga
  script ga('send', 'pageview');

  include ../blocks/metrika

  script
    :uglify
      window.Muscula = {
        settings:{
          logId:"658f806a-f643-4e65-afac-f80151b2f4f0", suppressErrors: false
        },
        run:function(){
          var a;
          eval(arguments[0]);
          window.Muscula.run=function(){};
        },
        errors : []
      }

      window.onerror=function(){
        window.Muscula.errors.push(arguments);
      }

  script(src='//musculahq.appspot.com/Muscula7.js')

else
  //- so that other scripts using ga() for stats won't die
  script window.ga = function() {}
  script window.metrika = { reachGoal: function() {} };

script(src=pack("head", "js"))
//script(src=pack("styles", "js"))


//- head из конкретной статьи
!=head
