title= (headTitle || title)

//- for mobile devices
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")
meta(name="apple-mobile-web-app-capable" content="yes")
script if (window.devicePixelRatio > 1) document.cookie = 'pixelRatio=' + window.devicePixelRatio + ';path=/;expires=Tue, 19 Jan 2038 03:14:07 GMT';
link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:700&subset=latin,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet')
link(href=style('base') rel='stylesheet')

if prev
  link(rel="prev" href=prev.url)

if next
  link(rel="next" href=next.url)

//- Counters only on production
if analyticsEnabled
  include ../blocks/ga
  //- let page specify more data to send w/ pageview
  block ga
  script ga('send', 'pageview');

  include ../blocks/metrika
  script(src=script("trackjs") async)
  script window.qbaka||function(e,t){var n=[];var r=e.qbaka=function(){n.push(arguments)};e.__qbaka_eh=e.onerror;e.onerror=function(){r("onerror",arguments);if(e.__qbaka_eh)try{e.__qbaka_eh.apply(e,arguments)}catch(t){}};e.onerror.qbaka=1;r.sv=2;r._=n;r.log=function(){r("log",arguments)};r.report=function(){r("report",arguments,new Error)};var i=t.createElement("script"),s=t.getElementsByTagName("script")[0],o=function(){s.parentNode.insertBefore(i,s)};i.type="text/javascript";i.async=!0;i.src=("https:"==t.location.protocol?"https:":"http:")+"//qbaka.r.worldssl.net/reporting.js";typeof i.async=="undefined"&&t.addEventListener?t.addEventListener("DOMContentLoaded",o):o();r.key="e6acff00ac50b33458725d4dc35829a6"}(window,document);qbaka.options={autoStacktrace:1,trackEvents:1};


script(src=script("head"))




//- head из конкретной статьи
!=head
