extends /layouts/main


block append variables

  - var layout_main_class = "main_width-limit"
  - var title = 'Онлайн-курс: настройка окружения';
  - var sitetoolbar = true

block append head
  script(defer src=pack("courses", "js"))


block content

  p.
    Эта инструкция &ndash; о том, как настроить у себя окружение для обучения.
    Прочитайте, пожалуйста, ее полностью. Настройте всё и, желательно, протестируйте на собрании.
    Это важно, чтобы вы могли сразу же полноценно принимать участие в процессе.

  p Для общения используется одновременно видео, аудио и чат.


  h2 Общение в чате

  p Для общения в чате используется Jabber-клиент.

  p Самые популярные клиенты:

  ul
    li Для Windows и Linux: <a href="http://pidgin.im">Pidgin</a>.
    li Для MacOS: <a href="https://adium.im/">Adium</a>.

  p Для настройки вам понадобятся:

  ul
    li Имя страницы профиля в качестве логина &ndash; <b>#{user.profileName}</b>.
    li
     | <b>Пароль</b> для входа в сайт learn.javascript.ru (не javascript.ru).
     | Если вы всегда входили через внешний сервис авторизации &ndash; его может не быть,
     | тогда создайте его во вкладке профиля <a href="#{user.getProfileUrl()}/account">Аккаунт</a>.
    li Название комнаты: <b>#{group.webinarId}</b>.

  p Обратим внимание: никакие другие настройки, в частности ваш email, вам не нужны. Только то, что указано выше.

  p Если вы раньше настраивали Jabber-клиент, то вот настройки:

  ul
    li Сервер: javascript.ru.
    li Сервер конференций: conference.javascript.ru (стандартный).
    li В качестве ника(псевдонима) для комнаты укажите свое имя и фамилию в формате "Имя Фамилия" (учитывая регистр).

  p Если нет, то вот короткое видео по установке и настройке <a href="/courses/pidgin.mp4">Pidgin</a> и <a href="/courses/adium.mp4">Adium</a>.

  h2 Система для разделения экрана и общения

  p.
    Для использования этой системы в браузере должна быть установлена и включена java.
    Если у вас ее нет &ndash; скачать можно здесь:
    <a href="http://java.com/ru/download/">http://java.com/ru/download/</a>.

  p Для захода в систему зайдите на <a href="http://joingotowebinar.com">http://joingotowebinar.com</a> и введите:

  ul
    li Webinar ID: <b>#{group.webinarId}</b>.
    li Email: <b>#{user.profileName}@javascript.ru</b>.

  p Для запуска системы отвечайте Yes на вопросы. Если ничего не запускается &ndash; возможно, нужно нажать кнопку <b>Launch</b> или <b>Download Software</b> и запустить скачанную программу вручную.

  p Когда программа поставится, при следующем заходе скачивать или запускать ее заново будет не нужно.

  :simpledown
    [warn]
    До собрания попробуйте войти, как указано выше, чтобы вас "зарегистрировало", но работать видео будет только во время онлайн-встречи.

    При попытке зайти во "внеурочное" время видео не запустится. Это нормально.
    [/warn]

  p
   | Заранее, для проверки, можно подключиться по адресу <a href="https://www3.gotomeeting.com/join/406552062">https://www3.gotomeeting.com/join/406552062</a>,
   | людей там нет, но программа должна поставиться и запуститься.

  p Полная инструкция по тестированию входа находится на <a href="http://support.citrixonline.com/en_US/GoToMeeting/help_files/GTM140010?title=Test+Your+GoToMeeting+Connection">http://support.citrixonline.com/en_US/GoToMeeting/help_files/GTM140010?title=Test+Your+GoToMeeting+Connection</a>.

  p Практика показывает, что если у вас стоит Java и работает Skype, то и видео тоже нормально заработает.

  include:simpledown ./js.md
