extends /layouts/main


block append variables

  - var layout_main_class = "main_width-limit"
  - var title = 'Курс по Node.JS: настройка окружения';
  - var sitetoolbar = true
  - var siteToolbarCurrentSection = "courses"

block append head
  !=js("courses", {defer: true})


block content

  p.
    Эта инструкция – о том, как настроить у себя окружение для обучения.
    Прочитайте, пожалуйста, ее полностью. Настройте всё и, желательно, протестируйте на собрании.
    Это важно, чтобы вы могли сразу же полноценно принимать участие в процессе.

  p Для общения используется одновременно видео, аудио и чат.

  h2 Общение в чате

  p Для чата мы используем Jabber. Это удобный чат-клиент с открытым протоколом и большим количеством свободно распространяемого программного обеспечения.

  p Если у вас он ещё не стоит Jabber-клиент, нужно будет поставить. Самые популярные клиенты:

  ul
    li Для Windows и Linux: <a href="http://pidgin.im">Pidgin</a>.
    li Для MacOS: <a href="https://adium.im/">Adium</a>.

  p Для входа на сервер вам понадобятся:

  ul
    li <b>Логин:</b> <code>#{user.profileName}</code> и сервер <code>javascript.ru</code> (в некоторых клиентах вводятся вместе <code>#{user.profileName}@javascript.ru</code>).
    li
     | <b>Пароль:</b> тот, которые вы используете для входа в сайт <code>#{domain.main}</code>.
     | Если вы ранее входили только через Facebook/Github/..., то пароля может не быть,
     | тогда создайте его во вкладке профиля <a href="#{user.getProfileUrl()}/account">Аккаунт</a>.

  p Подключайтесь к чату <code>#{group.webinarId}</code>, конференц-сервер <code>conference.javascript.ru</code>, в качестве своего ника(псевдонима) для комнаты укажите свое имя и фамилию в формате "Имя Фамилия".

  p Есть короткое видео по установке и настройке <a href="/courses/pidgin.mp4">Pidgin</a> и <a href="/courses/adium.mp4">Adium</a>.

  h2 Система для разделения экрана и общения

  p Мы используем систему GoToWebinar, в ней специальный кодек, который обеспечивает лучшее качество скринкастов, чем более распространённый flv-формат.

  p.
    Для использования этой системы в браузере должна быть установлена и включена java.
    Если у вас ее нет &ndash; скачать можно здесь:
    <a href="http://java.com/ru/download/">http://java.com/ru/download/</a>.

  p Для захода в систему зайдите на <a href="http://joinwebinar.com">http://joinwebinar.com</a> и введите:

  ul
    li <b>Webinar ID:</b> <code>#{group.webinarId}</code>
    li <b>Email:</b> <code>#{user.profileName}@javascript.ru</code> (именно это, не ваш реальный email).

  p Для запуска системы отвечайте Yes на вопросы. Если ничего не запускается – возможно, нужно нажать кнопку <b>Launch</b> или <b>Download Software</b> и запустить скачанную программу вручную.

  p Когда программа поставится, при следующем заходе скачивать или запускать ее заново будет не нужно.

  :simpledown
    [warn]
    До собрания попробуйте войти, как указано выше, чтобы вас "зарегистрировало", но работать видео будет только во время онлайн-встречи.

    При попытке зайти во "внеурочное" время видео не запустится. Это нормально.
    [/warn]

  p
   | Заранее, для проверки, можно подключиться по адресу <a href="https://www3.gotomeeting.com/join/406552062">https://www3.gotomeeting.com/join/406552062</a>,
   | людей там нет, но программа должна поставиться и запуститься.

  p Полная инструкция по тестированию входа находится на <a href="http://support.citrixonline.com/en_US/GoToMeeting/help_files/GTM140010?title=Test+Your+GoToMeeting+Connection">http://support.citrixonline.com/en_US/GoToMeeting/help_files/GTM140010?title=Test+Your+GoToMeeting+Connection</a>.

  p Практика показывает, что если у вас стоит Java и работает Skype, то и видео тоже нормально заработает.

  p.
    Для того, чтобы задавать вопросы голосом, используется та же система, что и для видео. Понадобится микрофон.
    Заметим, что микрофон не обязателен для участия, так как задавать вопросы можно и в чате.


  h2 Dropbox

  p Для обмена файлами и совместной работы с кодом мы будем использовать <a href="http://dropbox.com">Dropbox</a>.

  p.
    Это – сервис, который синхронизирует содержимое директории между различными компьютерами.
    После его установки и настройки вы сможете видеть мои файлы, а я – ваши. Конечно, в пределах указанного каталога.

  ol
    li Зарегистрируйтесь в Dropbox с вашим Email: <code>#{user.email}</code>, поставьте программу и запустите.
    li Создайте у себя в Dropbox каталог с названием из вашего имени и фамилии латинницей через точку, например <code>ivan.ivanov</code>.
    li Расшарьте этот каталог (иконка с радугой) с аккаунтом #{group.slug}@javascript.ru.
    li Теперь я и вы имеем доступ к этому каталогу. В нём можно выкладывать решения домашних задач.

  p Настройте, пожалуйста, Dropbox заранее, мне тоже нужно будет пригласить вас в свой каталог до начала занятий, а вам – принять это приглашение.

  :simpledown
    [warn]
    Ни в коем случае не ставьте модули для Node.JS в каталог Dropbox. Ставьте их в `node_modules` на уровень выше.

    Иначе они будут забивать канал синхронизации и приводить к ошибкам выполнения, так как модули расшаривать нельзя.
    [/warn]



  h2 Node.JS, Git, Mongo


  ul
    li.
      <a href="http://nodejs.org">Node.JS</a> поставьте после просмотра первых выпусков скринкаста, проверьте работу на скрипте с <code>console.log("Hello world")</code>.
    li.
      <a href="https://git-scm.com/">Git</a> – если у вас не стоит, то поставьте, причём если у вас Windows и раньше с Git не работали, то во избежание "подводных камней" выбрать при установке опции, как указано на скриншотах:
      <a href="/courses/git-win-1.png">скриншот 1</a> и <a href="/courses/git-win-2.png">скриншот 2</a>.
    li.
      <a href="https://www.mongodb.org/">MongoDB</a> – работать с базой данных мы начнём не сразу, но достаточно скоро, пусть она стоит у вас заранее.
      Под *nix-системы и MacOS используйте систему пакетов, для Windows есть <a href="http://www.youtube.com/watch?v=fugXo7A5sNE">выпуск скринкаста</a>.


  include:simpledown ./nodejs.md
