extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"

block append ga
  script.
    ga('require', 'ec')
    ga('set', '&cu', 'RUB');

    ga('ec:addProduct', {
      id: 'ebook'
    });
    ga('ec:setAction', 'click');

block content

  script var status = "#{status}";

  +b("form").complex-form(data-order-form)
    +e.step._current
        +e('h2').alternate-title Выберите курс
        +b.extract._small.__extract
          each orderTemplate, i in orderTemplates
            +e.item(data-add-class-on-hover)
              +e('input').input(type="radio" name="orderTemplate" value=orderTemplate.slug data-price=orderTemplate.amount checked=(i==0) id=('book-' + i) )
              +e.wrap
                +e.input-wrap
                +e.content
                  +e('h3').title
                    label(for=('book-' + i))!= orderTemplate.title
                  +e.info!= orderTemplate.description
                +e.aside._price._center
                  | Стоимость
                  +b.price.__price
                    | #{orderTemplate.amount + ' RUB'}
                    +e('span').secondary (≈&nbsp;#{currencyConvertRound(orderTemplate.amount, "RUB", "USD")}$)

        if (!user)
          +e('h2').alternate-title Укажите свой email
          +b.text-input.__email
            +e('input').control(placeholder="my@email.com", name="email", required, type="email")
          +e.email-note После оплаты ссылка на скачивание учебника придет на этот адрес.

        +e('h2').alternate-title Выберите метод оплаты
        +e.body
          +b.extract._small.__extract
            include ../../payments/common/templates/payment-methods

        +e.submit-line
          +b('button')(type="submit").button._action
            +e('span').text Продолжить

    +b('ul').grayed-list
      +e('li').item Подтверждение

  script(src=pack("ebook", "js"))
  script ebook.init();
