include ./bem

+b.complex-code._scroll
  +e.tools
    +e.scroll-wrap
      +e('button').scroll-button._left(title="&larr;")
    +e.switches-wrap
      +e.switches
        +e.switches-items
          +e.switch._current Результат
          each tab in tabs
            +e.switch #{tab.title}
    +e.scroll-wrap
      +e('button').scroll-button._right(title="&rarr;")
    +e.buttons
      if zip
        +e('a').button._download(target="_blank", href=zip.url)
      if play
        +e('a').button._open(target="_blank", href=play.url)
  +e.content(style=height ? (height + 'px') : '')
    +e.content-inner
      +e.section._current
        //- assigning an attribute to false removes the attribute
        +e('iframe').result(src=src, data-autoresize=(height ? '1' : false), onload=(height ? "require('head/client').iframeResize(this)" : false))
      each tab in tabs
        +e.section
          pre
            = tab.content
