+b.pay-method
  +e('ul').methods

    each paymentMethod in paymentMethods
      +e('li').method
        +e('input').method-radio(type="radio" name="paymentMethod" value=paymentMethod.name id=paymentMethod.name)
        +e('label')(class=["method-label", "_" + paymentMethod.name] for=paymentMethod.name)
          +e('header').header
            if paymentMethod.title && !~['paypal','yandexmoney','webmoney'].indexOf(paymentMethod.name)
              +e('h3').method-title !{ paymentMethod.title }
              if paymentMethod.cards
                  +e('span').cards
                    each card in paymentMethod.cards
                      +e('img').card(src='/pay-methods/' + card + '.svg', alt=card)

              if paymentMethod.subtitle
                +e('h4').method-subtitle!= paymentMethod.subtitle
            if paymentMethod.hasIcon
              +e('img').logo(src="/pay-methods/pay-" + paymentMethod.name + '.svg' alt=paymentMethod.name[0].toUpperCase() + paymentMethod.name.slice(1))
        if paymentMethod.name == "paypal"
          include paypal-settings
        if paymentMethod.name == "invoice"
          include invoice-settings
