extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"

block content

  script var orderTemplate = "#{orderTemplate.slug}";
  script var status = "#{status}";

  +b("form").complex-form(data-order-form)

    +e.step._current
      +e.step-content
        +b.extract._small.__extract
          +e.wrap
            +e.content
              +e('h5').title!= orderTemplate.title
              +e.info!= orderTemplate.description
            +e.aside._price._center
              | Стоимость
              +b.price.__price
                | #{orderTemplate.amount + 'р.'}
                +e('span').secondary (≈&nbsp;#{currencyConvertRound(orderTemplate.amount, "RUB", "USD")}$)

        if (!user)
          +e('h2').alternate-title Укажите свой email
          +b.text-input.__email
            +e('input').control(placeholder="my@email.com", name="email", required, type="email")
          +e.email-note После оплаты ссылка на скачивание учебника придет на этот адрес.

        +e('h2').alternate-title Выберите метод оплаты
        +b.pay-method.__pay-method
          +e.methods
            each paymentMethod in paymentMethods
              +e.method(data-add-class-on-hover)
                // classes get prefix automatically from dynamic mixins
                +e('button')(class=["send", "_"+paymentMethod.name], name="paymentMethod", value=paymentMethod.name)

    +b('ul').grayed-list.__next
      +e('li').item.__next-item Подтверждение

  script(src=script("getpdf"))
  script getpdf.init();
