extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"

block content

  script var orderNumber = #{order.isNew ? 'null' : order.number};
  script var orderTemplate = "#{orderTemplate}";
  script var status = "#{status}";

  +b("form").complex-form(data-order-form, data-new=(order.isNew ? "1" : "0"))

    if (transaction && transaction.status == 'fail')
      +b.notification._error._message.__error
        +e.content
          p Оплата не прошла, попробуйте ещё раз.
            if transaction.statusMessage
              div Ошибка:&nbsp;
                em= transaction.statusMessage
          p По вопросам, касающимся оплаты, вы можете писать на <a href="mailto:orders@javascript.ru">orders@javascript.ru</a>.

    if (transaction && transaction.status == 'pending_online')
      +b.notification._warning._message.__warning
        +e.content
          p Уведомление от платёжной системы не получено.
          p Если вы точно знаете, что оплата была - можно обновить эту страницу через 5 минут или написать в поддержку <a href="mailto:orders@javascript.ru">orders@javascript.ru</a>.

    // FIXME: обработать это в скрипте, а не в шаблоне (заказ PENDING, но транзакция прошла, видимо была ошибка в onsuccess
    // сейчас в webmoney callback ошибка onPaymentSuccess
    if (transaction && transaction.status == 'success')
      +b.notification._error._message.__error
        +e.content
          // transaction success, but pending order??? onSuccess was an error?
          p При обработке вашего заказа поизошла ошибка.
          p Обратитесь в поддержку <a href="mailto:orders@javascript.ru">orders@javascript.ru</a>.

    +e.step._current
      +e.step-content
        +b.extract._small.__extract
          +e.wrap
            +e.content
              +e('h5').title!= order.title
              +e.info!= order.description
            +e.aside._price._center
              | Стоимость
              +b.price.__price
                | #{order.amount + 'р.'}
                +e('span').secondary (≈&nbsp;#{currencyConvertRound(order.amount, "RUB", "USD")}$)

        if (!user)
          +e('h2').alternate-title Укажите свой email
          +b.text-input.__email
            //+e('input').control(name="email", required, type="email" value=order.email)
            +e('input').control(placeholder="my@email.com", name="email", required, type="email" value="tester@javascript.ru")
          +e.email-note После оплаты ссылка на скачивание учебника придет на этот адрес

        +e('h2').alternate-title Выберите метод оплаты
        +b.pay-method.__pay-method
          +e.methods
            each paymentMethod in paymentMethods
              +e.method
                // classes get prefix automatically from dynamic mixins
                +e('button')(class=("send " + "_"+paymentMethod.name),  name="paymentMethod", value=paymentMethod.name)

    +b('ul').grayed-list.__next
      +e('li').item.__next-item Подтверждение

  script(src=script("getpdf"))
  script getpdf.init();
