extends /layouts/main

block variables
  - var layout_header_class = "main__header_center"

block content

  script var orderNumber = #{order.isNew ? 'null' : order.number};
  script var orderTemplate = "#{orderTemplate}";

  +b("form").complex-form(data-order-form, data-new=(order.isNew ? "1" : "0"))
    +e.step._current
      +e.step-content
        +b.extract._small.__extract
          +e.wrap
            +e.content
              +e('h5').title!= order.title
              +e.info!= order.description
            +e.aside._price._center
              | Стоимость
              +b.price.__price
                | #{order.amount + 'р.'}
                +e('span').secondary (≈&nbsp;#{currencyConvertRound(order.amount, "RUB", "USD")}$)

        if (!user)
          +e('h2').alternate-title Укажите свой email
          +b.text-input.__email
            +e('input').control(placeholder="my@email.com", name="email", required, type="email" value="tester@javascript.ru")
          +e.email-note После оплаты ссылка на скачивание учебника придет на этот адрес
        +e('h2').alternate-title Выберите метод оплаты
        +b.pay-method.__pay-method
          +e.methods
            each paymentMethod in paymentMethods
              +e.method
                +e('button').send(name="paymentMethod", value=paymentMethod.name)
                  +e('img').img(src="/img/pay-method__"+paymentMethod.name + ".png", width="184", height="98", alt=paymentMethod.title)
        +b.pay-hint.__pay-hint
          +e('a').hint(href="hint")
            +b('img').flag.__flag(src="/img/flag/flag_ua.png")
              | Рекомендации по оплате не из России
    +b('ul').grayed-list.__next
      +e('li').item.__next-item Подтверждение

  script(src=script("getpdf"))
  script getpdf.init();
