include /bem

+b.code-example&attributes(attrs)
  +b.codebox.__codebox
    +b.toolbar.__toolbar
      if run
        +e.tool
          - var title = (language == "javascript") ? "выполнить" : "показать"
          +e('a')(href="#" title=title data-action="run").button_run
        +e.tool
          +e('a')(href="#" title="открыть в песочнице" target="_blank" data-action="edit").button_edit
    +e.code(data-code="1")
      pre(class="line-numbers language-#{language}")
        code(class="language-#{language}")= text
  //- iframe must be in HTML with the right height
  //- otherwise page sizes will be wrong and autorun leads to resizes/jumps
  if autorun && language == "markup"
    +b.code-result.__result
      +e('iframe').iframe(name="code-result-#{(Math.random()*1e9 ^ 0).toString(36)}", style="height:#{demoHeight}px")
