extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var content_class = '_center'

block content

  if wasLoggedIn
    +b.notification._message._info
      +e.content Вы вошли на сайт под пользователем #{user.displayName}

  p Укажите ФИО для участия в курсе

  +b.login-form.complex-form.complex-form_step_4
    +e.step.complex-form__step.complex-form__step_current
      +e('form').form(method="POST" action="/courses/invite")
        input(type="hidden", name="_csrf", value=csrf())
        input(type="hidden" name="inviteToken" value=invite.token)

        +e.line
          +e('label').label(for="invite-email") Email:
          +b('span').text-input.__input
            +e('input').control#invite-email(name="email" type="email" value=invite.email disabled)

        +e.line
          +e('label').label(for="invite-courseName") ФИО (только для курса, на сайте не отображается)
          +b('span')(class=["text-input", "__input", errors.courseName ? '_invalid' : '' ])
            +e('input').control#invite-courseName(type="text", name="courseName" required value=form.courseName placeholder="Пушкин Александр Сергеевич" autofocus)
            if errors.courseName
              +e.err= errors.courseName

        +e.line.__footer
          +b('button').button._action(type="submit")
            +e('span').text Подтвердить участие

