extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses"

block append head
  script(defer src=pack("coursesParticipantDetails", "js"))

block content

  if wasLoggedIn
    +b.notification._message._info
      +e.content Вы вошли на сайт под пользователем #{user.displayName}

  +b.participant-application
    +e('form').form(method="POST" action="/courses/invite")

      input(type="hidden", name="_csrf", value=csrf())
      input(type="hidden" name="inviteToken" value=invite.token)

      +e.line
        +e('label').label(for="invite-firstName") Имя *
        +b('span')(class=["text-input", "__input", errors.firstName ? '_invalid' : ''])
          +e('input').control#invite-firstName(name="firstName" type="text" required value=form.firstName autofocus=!Object.keys(errors).length)
          if errors.firstName
            +e.err= errors.firstName

      +e.line
        +e('label').label(for="invite-surname") Фамилия *
        +b('span')(class=["text-input", "__input", errors.surname ? '_invalid' : '' ])
          +e('input').control#invite-surname(type="text", required, name="surname" value=form.surname)
          if errors.surname
            +e.err= errors.surname

      +e.line
        +e('span').label Фото
        +b.upload-userpic(data-photo-load)
          input(type="hidden" name="photoId")
          +e('i').img(style="background-image: url('#{thumb(form.photo || user.getPhotoUrl(), 64, 64)}')")
          +e('a').new(href="#") Загрузить новое фото

      +e.line
        +e('label').label(for="invite-country") Страна *
        +b('select').input-select._small(name="country" id="invite-country")
          each country in countries
            option(value=country.co selected=(country.co == form.country))= country.na
        if errors.country
          +e.err= errors.country

      +e.line
        +e('label').label(for="invite-city") Город
        +b('span')(class=["text-input", "__input", errors.city ? '_invalid' : ''])
          +e('input').control#invite-city(type="text", name="city" value=form.city pattern=validate.patterns.doubleword)
          if errors.city
            +e.err= errors.city

      +e.line
        +e('label').label(for="invite-occupation") Область работы
        +b('span')(class=["text-input", "__input", errors.occupation ? '_invalid' : ''])
          +e('input').control#invite-occupation(type="text", name="occupation" value=form.occupation)
        +e('p').note Кем или в какой области работаете (кратко)?

      +e.line
        +e('label').label(for="invite-aboutLink") LinkedIn / Github / Moikrug...
        +b('span')(class=["text-input", "__input", errors.aboutLink ? '_invalid' : ''])
          +e('input').control#invite-aboutLink(type="url", name="aboutLink" pattern=validate.patterns.webpageUrl value=form.aboutLink placeholder="https://linkedin.com/in/vasya")
        +e('p').note Профиль в соц. сети или личная страница, где можно узнать о вашей профессиональной деятельности.

      +e.line
        +e('label').label(for="invite-purpose") С какой целью записались на курс?
        +b('textarea').textarea-input(name="purpose")#invite-purpose

      +e.line
        +e('label').label(for="invite-wishes") Ваши пожелания по курсу?
        +b('textarea')(name="wishes").textarea-input#invite-wishes

      +e.line.__submit
        +b('button').button._action(type="submit")
          +e('span').text Отправить
