extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var content_class = '_center'

block content

  if wasLoggedIn
    +b.notification._message._info
      +e.content Вы вошли на сайт под пользователем #{user.displayName}

  +b.login-form.complex-form.complex-form_step_4
    +e.step.complex-form__step.complex-form__step_current
      +e('form').form(method="POST" action="/courses/invite")
        input(type="hidden", name="_csrf", value=csrf())
        input(type="hidden" name="inviteToken" value=invite.token)

        +e.line
          +e('label').label(for="invite-firstName") Имя*
          +b('span')(class=["text-input", "__input", errors.firstName ? '_invalid' : ''])
            +e('input').control#invite-firstName(name="firstName" type="text" value=form.firstName required autofocus)
            if errors.firstName
              +e.err= errors.firstName

        +e.line
          +e('label').label(for="invite-surname") Фамилия*
          +b('span')(class=["text-input", "__input", errors.surname ? '_invalid' : '' ])
            +e('input').control#invite-surname(type="text", name="surname" required value=form.surname)
            if errors.surname
              +e.err= errors.surname

        if !user.photo
          img(src=user.getPhotoUrl(64,64) width=64 height=64)
          a(href='#') Загрузить новое фото

        +e.line.__footer
          +b('button').button._action(type="submit")
            +e('span').text Подтвердить участие

